.ganj-panel-label {
  font-weight: 600;
  padding-left: 6px;
  padding-right: 6px;
}

.ganj-poem-title {
  font-size: 1.05em;
  font-weight: 700;
  padding-bottom: 6px;
  text-align: center;
}

.ganj-poem-verse {
  font-size: 0.95em;
  padding-bottom: 2px;
  text-align: center;
}
